body {
    color: #da2645;
    background: #a8a8a8;
    font: 100% system-ui;
}

a {
    color: #da2645;
}

.App {
    padding: 0px 0px 0px 6%;
}

.sidenav {
    height: 100%;
    width: 11%;
    padding: 0;
    position: fixed;
    z-index: 1;
    background-color: #111;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-color: #111;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.post-para {
    width: 80%;
    background-color: #838383;
    border-color: #111;
    border-radius: 10px;
    color: #111; 
}

.post-para:hover {
    background-color: white;
}

.post {
    color: #111; 
    text-decoration: none;
}

.poll-text {
    padding: 5px 0px 0px 5px;
}

.poll-user {
    float: right;
    padding: 0px 5px 5px 0px;
}

.sidenav-item {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding: 15px 30px;
    color: #111;
    text-align: center;
    border-style: solid;
    text-decoration: none;
    background-color: #a8a8a8;
    border-color: #a8a8a8; 
}

.sidenav-item:hover {
    border-color: white;
    background-color: white;
}

.sidenav-para {
    height: 50px;
    width: 100%;
    text-align: center;
}

.sidenav-text {
    font: 130% system-ui;
    text-align: center;
    padding: 0 0 10px 0;
}

.login {
    background-color: #838383;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 0%;
    padding: 20px;
    width: 20%;
    margin: 0 auto;
    padding: 60px;
    border: 1px solid #111;
}

.login-container {
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 0px 0px;
}

.login-button {
    background-color: #a8a8a8;
    border-color: #111;
    border-radius: 10px;
    color: #111; 
}

.form-button {
    background-color: #a8a8a8;
    border-color: #111;
    border-radius: 10px;
    color: #111; 
}

.form-input {
    width: 20%;
    border-radius: 7px;
    height: 25%;
    border: none;
}

.bar {
    background-color: #838383;
    border-radius: 5px;
}

.login-title {
    font: 175% system-ui;
    font-weight: bold;
    color: #111;
}

.login-input {
    width: 90%;
    border-radius: 7px;
    height: 25%;
    border: none;
}

.login-input:hover {
    background-color: #d0d0d0;
}

.login-button:hover {
    background-color: white; 
}

.searchbar {
    outline-width: 0;
    width: 25%;
    border-radius: 10px;
}
