body {
    color: #da2645;
    background: #a8a8a8;
    font: 100% system-ui;
}

a {
    color: #da2645;
}

.App {
    padding: 0px 0px 0px 6%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.sidenav {
    height: 100%;
    width: 11%;
    padding: 0;
    position: fixed;
    z-index: 1;
    background-color: #111;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-color: #111;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.sidenav-item {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding: 10% 15%;
    color: #111;
    text-align: center;
    border-style: solid;
    text-decoration: none;
    background-color: #a8a8a8;
    border-color: #a8a8a8; 
}

.sidenav-item:hover {
    border-color: white;
    background-color: white;
}

.sidenav-para {
    height: 8%;
    width: 100%;
    text-align: center;
}

.sidenav-text {
    font: 130% system-ui;
    text-align: center;
    padding: 0 0 10px 0;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.login {
    padding: 0px 0px 0px 0px;
    position: absolute;
    top: 40%;
    left: 40%;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
